/* Псевдоэлемент для подчеркивания */
.navigation a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px; 
    left: 0;
    background-color: white;
    transition: width 0.3s ease-in-out; 
}

/* Анимация при наведении */
.navigation a:hover::after {
    width: 100%; 
}